*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log

# mac system file
*.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Generated/downloaded artifacts
bin/
build/
dist/
lib/
tools/
logs/

searchHistory.txt
/Search History.txt
/Command History.txt
/JFilesDB/
